
a {
	//color: #1535EB;
	cursor: pointer;
	padding: 0px;
}

a:hover {
	text-decoration: underline;
}

body {
	margin: 0px;
	border: 0px;
	padding: 0px;
	/*
	font-size: 12px;
	font-family: Helvetica;
	font-variant: normal;
	*/
	height:100%;
	//background: #ffffff;
}

button,
select {
	//color: #606060;
	cursor: pointer;
	display: inline-block;
	//font-weight: bold;
	//font-size: 9px;
	margin:0px;
    text-decoration: none;
    padding: 1px 6px;
	//height: 12px;
    //border: 1px solid #d0d0d0;
    //border-bottom-style:groove;
    //border-right-style:groove;
    //border-radius: 1px;
    //box-shadow: 0 1px 0 #fafafa inset;
    //background: #eeeeee;
    //text-shadow: 0 1px 0 #fff;
    //background: linear-gradient(#eeeeee, #dddddd) repeat scroll 0 0 transparent;
}

button.disable,
button.disable:hover {	
	cursor: not-allowed;
}

button:hover,
select:hover {
	
	color: #303030;
}

div {
	border-width: 0;
	padding: 0;
	margin: 0;
}
div:focus {
    border: solid 2px red;
    outline: none;
}

div.popup .button{

}

div.popup td.left{
	width:100%;
}
div.popup td.right{
	width:1%;
}

div.popup .dragged{
	width:100%;
	height:25px;
}
hr{
	//border: 0px inset #fafafa;
}
html{
	height:100%;
}
input,
textarea {
	//border: 1px solid #dddddd;
	height: 20px;
	padding: 3px;
	//width: 200px;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus  {
	//outline: none;
	//border: 1px solid orange;
}

input.date {
	width: 66px;
}

label {
	/*font-weight:bold;*/
}

table {
	border-width: 0;
	width : 100%;
}

td {
	padding:0px;
	vertical-align: center;
	text-align: left;
}

textarea {
	width: 450px;
	height: 60px;
}

